            <div class="interests-container container-block">
                <h2 class="container-block-title">{{ i18n "tech_interests" }}</h2>
                <ul class="list-unstyled interests-list">
				{{ range .Site.Params.tech_interests.list }}
                    <li>{{ .interest }}</li>
				{{ end }}
                </ul>
            </div><!--//tech-interests-->
